/*! showstart 2016-05-10 */

body {
    padding: 0;
    margin: 0;
    font: 13px/1.5 'Microsoft YaHei', "\5b8b\4f53";
    color: #666
}

ul, nav, li, ol, h1, h2, h3, h4, p, dl, dt, dd {
    margin: 0;
    padding: 0
}

li {
    list-style: none
}

a {
    text-decoration: none;
    color: #666;
    outline: 0;
    blr: expression(this.onFocus=this.blur())
}

a:hover {
    color: #e72f2f
}

input, button {
    outline: 0;
    background: 0 0;
    padding: 0
}

img, input {
    vertical-align: middle;
    border: 0
}

.a-link {
    color: #37a
}

.col-333 {
    color: #333
}

.col-666 {
    color: #666
}

.col-999 {
    color: #999
}

.col-theme {
    color: #e72f2f
}

.MT5 {
    margin-top: 5px
}

.MT10 {
    margin-top: 10px
}

.MT15 {
    margin-top: 15px
}

.MT20 {
    margin-top: 20px
}

.MT30 {
    margin-top: 30px
}

.ll {
    float: left
}

.rr {
    float: right
}

.clearfix, .clear {
    display: inline-table;
    zoom: 1
}

* html .clearfix, * html .clear {
    height: 1%
}

* html .clearfix, * html .clear {
    zoom: 1
}

.clearfix, .clear {
    display: block
}

.clear {
    clear: both
}

.clearfix:after, .clear:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    line-height: 0
}

.justify {
    text-align: justify;
    text-justify: inter-ideograph
}

.justify-tags {
    margin: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    line-height: 0 !important;
    border: 0 !important;
    font-size: 1%
}

.block {
    display: block
}

.inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle
}

.header {
    padding: 20px 0;
    min-width: 990px
}

.logo {
    width: 150px;
    height: 50px
}

.navigation {
    border-bottom: 1px #DDD solid
}

.nav li {
    float: left
}

.nav li a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-size: 14px
}

.nav li .current, .nav li a:hover {
    background-color: #e72f2f;
    color: #fff
}

.nav li.home a {
    background: url(../../images/icon.png?1462866802203) -163px -890px no-repeat
}

.nav li.home a.current {
    background-position: -115px -890px
}

.search-box {
    border: 3px #e72f2f solid;
    margin: 4px 0 0 120px;
    *height: 34px
}

#keywords {
    height: 34px;
    line-height: 34px \9;
    padding: 0 0 0 10px;
    width: 480px;
    vertical-align: middle
}

.searchBar {
    height: 34px;
    border: 0;
    vertical-align: middle;
    background: #e72f2f;
    color: #fff;
    padding: 0 20px;
    cursor: pointer;
    font-size: 14px
}

.slogan {
    margin-top: 2px
}

.header-tool li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 20px;
    font-size: 14px;
    line-height: 40px
}

.lang-icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background: url(../../images/icon.png?1462866802203) -187px -119px no-repeat;
    margin: -2px 10px 0 0
}

.bias-icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 20px;
    height: 24px;
    background: url(../../images/icon.png?1462866802203) -239px -117px no-repeat;
    margin: 0 5px
}

.userInfo-wrap {
    margin-top: -5px;
    position: relative;
    z-index: 100
}

.userInfo-wrap .mini-photo {
    margin-right: 10px
}

.userInfo-wrap-list {
    position: absolute;
    right: 0;
    top: 40px;
    padding-top: 15px;
    display: none
}

.userInfo-wrap-items {
    position: relative;
    border: 1px #ddd solid;
    padding: 0 40px 20px 40px;
    white-space: nowrap;
    background: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #ddd;
    line-height: normal
}

.userInfo-wrap .userInfo-wrap-list a {
    display: block;
    color: #666;
    margin-top: 20px
}

.userInfo-wrap .userInfo-wrap-list a:hover {
    color: #e72f2f
}

.userInfo-wrap-list em {
    position: absolute;
    width: 0;
    height: 0;
    top: -24px;
    right: 17px;
    border: 12px #ddd solid;
    border-color: transparent transparent #ddd transparent
}

.userInfo-wrap-list i {
    position: absolute;
    width: 0;
    height: 0;
    top: -22px;
    right: 17px;
    border: 12px #fff solid;
    border-color: transparent transparent #fff transparent
}

.city-wrap {
    margin-left: 20px;
    color: #666;
    visibility: hidden
}

.ctiy-title {
    font-size: 16px;
    color: #333
}

.city-select {
    font-size: 12px;
    position: relative;
    z-index: 100
}

.city-dropdown {
    display: block;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
    margin-top: 2px;
    border: 1px #eee solid
}

.city-dropdown.selected {
    background: #e72f2f;
    border-color: #e72f2f;
    color: #fff
}

.city-dropdown i {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    height: 100%;
    width: 12px;
    background: url(../../images/icon.png?1462866802203) -73px -899px no-repeat;
    margin-right: 5px
}

.city-dropdown.selected i {
    background-position: -97px -899px
}

.city-list {
    position: absolute;
    left: 0;
    top: 20px;
    border: 2px #e72f2f solid;
    background: #fff;
    padding: 10px;
    width: 388px;
    overflow: hidden;
    display: none
}

.city-list {
    overflow: hidden;
    padding-bottom: 10px
}

.city-list a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    min-width: 60px;
    margin: 10px 0 5px 10px
}

@media screen and (max-width: 1200px) {
    .search-box {
        margin-left: 60px
    }

    #keywords {
        width: 380px
    }
}

.footer {
    background: #23252b;
    min-width: 1200px;
    margin-top: 60px;
    padding: 50px 0 0 0;
    color: #777
}

.footer a {
    color: #bbb
}

.footer-logo {
    width: 206px;
    height: 113px;
    margin-top: -5px
}

.footer-ewm {
    width: 82px;
    height: 82px;
    margin-left: 20px;
    text-align: center
}

.footer-ewm img {
    max-width: 100%;
    margin-bottom: 5px
}

.footer dl {
    color: #bbb;
    margin-left: 30px
}

.footer dl a {
    color: #777
}

.footer dl dt {
    font-size: 16px
}

.footer dl dd {
    margin-top: 20px
}

.footer a:hover, .footer dl a:hover {
    color: #e72f2f
}

.f-icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    margin-top: -2px;
    background: url(../../images/icon.png?1462866802203) no-repeat
}

.f-icon.sina-icon {
    background-position: -225px -307px
}

.f-icon.douban-icon {
    background-position: -269px -306px
}

.footer dl .partner {
    margin-top: 18px
}

.footer .partner a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    margin-right: 10px
}

.footer-nav {
    margin: 15px 0
}

.footer-nav li {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.footer-nav li a {
    padding-right: 5px
}

.footer .auto-width > .rr {
    *width: 400px
}

.aboutUs span {
    margin-left: 15px
}

.copyright span {
    margin-right: 15px
}

.footer-bottom {
    background-color: #191a1d;
    padding: 20px 0 40px 0;
    margin-top: 30px
}

.app-wrap > .ll {
    margin-right: 20px
}

.app-icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    margin-top: -3px;
    width: 20px;
    height: 20px;
    background: url(../../images/icon.png?1462866802203) no-repeat;
    margin-right: 5px
}

.x-icon {
    background-position: 4px -898px
}

.y-icon {
    background-position: -30px -899px
}

.fllowUs {
    margin: 15px 0
}

.fllowUs a {
    font-size: 12px;
    padding: 1px 10px;
    margin-right: 5px;
    color: #bbb
}

.fllowUs a:hover {
    color: #bbb
}

.fllow-sina {
    background-color: #682123
}

.fllow-douban {
    background-color: #0d5523
}

@media screen and (max-width: 1200px) {
    .footer {
        min-width: 990px
    }

    .footer-logo {
        display: none
    }
}

.toolBar {
    position: fixed;
    bottom: 60px;
    right: 0;
    border: 1px #ddd solid;
    border-radius: 4px;
    background: #fff;
    z-index: 100
}

.toolBar .bar-list {
    position: relative
}

.backTop {
    display: none
}

.toolBar .bar-icon {
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    background: url(../../images/icon.png?1462866802203) no-repeat
}

.bar-icon.share-icon {
    background-position: 9px -253px
}

.bar-icon.message-icon {
    background-position: -104px -253px
}

.bar-icon.QR-icon {
    background-position: -216px -253px
}

.bar-icon.goback-icon {
    background-position: 8px -293px
}

.bar-icon.share-icon:hover, .on .share-icon {
    background-position: -45px -253px
}

.bar-icon.message-icon:hover, .on .message-icon {
    background-position: -158px -253px
}

.bar-icon.QR-icon:hover, .on .QR-icon {
    background-position: -270px -253px
}

.bar-icon.goback-icon:hover {
    background-position: -46px -293px
}

.toolBar .bar-group {
    position: absolute;
    border: 5px #e72f2f solid;
    right: 60px;
    top: 50%;
    display: none
}

.bar-group i {
    position: absolute;
    right: -20px;
    top: 50%;
    margin-top: -8px;
    width: 0;
    height: 0;
    border: 8px #e72f2f solid;
    border-color: transparent transparent transparent #e72f2f
}

.toolBar .bar-item {
    background: #fff
}

.toolBar .share-group {
    margin-top: -56px
}

.toolBar .message-group {
    margin-top: -25px;
    width: 38px
}

.toolBar .QR-group {
    margin-top: -80px
}

.toolBar .QR-group .QR-code {
    height: 100px;
    width: 100px;
    padding: 15px
}

.toolBar .QR-group .QR-code img {
    width: 100%;
    height: 100%
}

.toolBar .bdsharebuttonbox {
    width: 95px;
    padding: 10px
}

.toolBar .bar-title {
    text-align: center;
    background: #e72f2f;
    color: #fff;
    padding-bottom: 2px
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: top
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
    background: #fff
}

.fancybox-skin {
    position: relative;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-radius: 0
}

.fancybox-opened {
    z-index: 10000
}

.fancybox-outer, .fancybox-inner {
    position: relative;
    background: #fff
}

.fancybox-inner {
    overflow: hidden
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url(../fancybox/fancybox_sprite.png)
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: .8;
    cursor: pointer;
    z-index: 8060
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url(../fancybox/fancybox_loading.gif) center center no-repeat
}

.fancybox-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 20px;
    cursor: pointer;
    z-index: 8040;
    background: url(../fancybox/close.png) no-repeat
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url(../fancybox/blank.gif);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 8040
}

.fancybox-prev {
    left: 0
}

.fancybox-next {
    right: 0
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px
}

.fancybox-nav:hover span {
    visibility: visible
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important
}

.fancybox-lock {
    overflow: hidden !important;
    width: auto
}

.fancybox-lock body {
    overflow: hidden !important
}

.fancybox-lock-test {
    overflow-y: hidden !important
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 9999;
    background: url(../fancybox/fancybox_overlay.png)
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll
}

.fancybox-title {
    visibility: hidden;
    font: 400 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050
}

.fancybox-opened .fancybox-title {
    visibility: visible
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: 0 0;
    background: rgba(0, 0, 0, .8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: 700;
    line-height: 24px;
    white-space: nowrap
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff
}

.fancybox-title-inside-wrap {
    padding-top: 10px
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    #fancybox-loading, .fancybox-prev span, .fancybox-next span {
        background-image: url(../fancybox/fancybox_sprite@2x.png);
        background-size: 44px 152px
    }

    #fancybox-loading div {
        background-image: url(../fancybox/fancybox_loading@2x.gif);
        background-size: 24px 24px
    }
}

.iptText {
    border: 1px #ddd solid;
    border-radius: 3px;
    height: 35px;
    line-height: 35px \9;
    padding: 0 15px;
    -webkit-appearance: none;
    background: #fff;
    width: 275px
}

label.error {
    display: block;
    margin-top: 10px;
    color: #e72f2f
}

input.error {
    border-color: #e72f2f
}

.defaultBtn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    color: #e72f2f;
    border: 1px #e72f2f solid;
    background: #fff;
    height: 32px;
    line-height: 32px;
    padding: 0 25px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer
}

.middleBtn {
    height: 38px;
    line-height: 38px
}

.miniBtn {
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    font-size: 12px
}

.largeBtn {
    *display: block;
    width: 100%;
    font-size: 16px;
    padding: 0
}

.strongBtn {
    height: 50px;
    line-height: 50px;
    padding: 0 58px;
    font-size: 18px
}

.submitBtn, a.submitBtn:hover {
    color: #fff;
    background: #e72f2f
}

.yellowBtn, a.yellowBtn:hover {
    color: #333;
    background: #ffd800;
    border-color: #ffd800;
    font-size: 14px
}

.blueBtn, a.blueBtn:hover {
    color: #fff;
    background: #2a9cd5;
    border-color: #2a9cd5;
    font-size: 14px
}

.disableBtn, a.disableBtn:hover {
    color: #666;
    background: #ddd;
    border-color: #ddd;
    cursor: auto
}

.g-num-bar {
    border: 1px #ddd solid;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    background: #fff
}

.g-num-bar input {
    height: 30px;
    line-height: 30px \9;
    width: 40px;
    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;
    float: left;
    text-align: center
}

.g-num-bar .c-btn {
    float: left;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(../../images/icon.png?1462866802203) #fff no-repeat
}

.g-num-bar .disable {
    cursor: auto
}

.g-num-bar .minus-btn {
    background-position: -33px -29px
}

.g-num-bar .minus-btn.disable {
    background-position: 7px -29px
}

.g-num-bar .add-btn {
    background-position: -64px -29px
}

.g-num-bar .add-btn.disable {
    background-position: -94px -29px
}

.g-num-bar .c-btn:hover {
    background-color: #f2f2f2
}

.g-num-bar .disable:hover {
    background-color: #fff
}

.radio-icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(../../images/icon.png?1462866802203) -113px -302px no-repeat
}

.radio-checked-icon {
    background-position: -162px -302px
}

img[original] {
    background: url(../../images/loading_bg.gif?1462866802203) #fff center center no-repeat
}

.auto-width {
    width: 1200px;
    margin: 0 auto
}

.items-left {
    width: 820px
}

.items-right {
    width: 320px
}

.group-title {
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    border-left: 4px #e72f2f solid;
    height: 20px;
    line-height: 20px;
    color: #333
}

.side-title {
    font-size: 18px;
    font-weight: 400;
    color: #333
}

.sole {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #e72f2f;
    color: #fff;
    border-radius: 2px;
    padding: 0 3px;
    margin-right: 5px
}

.raising {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #ffa32b;
    color: #fff;
    border-radius: 2px;
    padding: 0 3px;
    margin-right: 5px
}

.bring {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #fe7c5a;
    color: #fff;
    border-radius: 2px;
    padding: 0 3px;
    margin-right: 5px
}

.goods-price {
    color: #e72f2f;
    font-size: 18px
}

.large-photo {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: relative;
    margin-right: 15px
}

.mini-photo {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 40px;
    height: 40px;
    border-radius: 100%
}

.large-photo img, .mini-photo img {
    width: 100%;
    height: 100%;
    border-radius: 100%
}

.c-icon {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 0;
    bottom: 0;
    background: url(../../images/icon.png?1462866802203) no-repeat
}

.c-icon.music-icon {
    background-position: 0 -79px
}

.c-icon.place-icon {
    background-position: -54px -79px
}

.c-icon.money-icon {
    background-position: -105px -79px
}

.follow-icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    background: url(../../images/icon.png?1462866802203) 0 -198px no-repeat;
    cursor: pointer
}

.followed-icon, .follow-icon.j-like-yes {
    background-position: -80px -198px
}

.follow-mini-icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(../../images/icon.png?1462866802203) -245px -516px no-repeat
}

.follow-mini-icon.followed-icon {
    background-position: -215px -515px
}

.tool-icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 24px;
    height: 22px;
    background: url(../../images/icon.png?1462866802203) no-repeat
}

.like-icon {
    background-position: 0 -122px
}

.j-liked .like-icon, .j-like-yes .like-icon {
    background-position: 0 -158px
}

.reply-icon {
    background-position: -56px -124px
}

.replyed-icon {
    background-position: -56px -162px
}

.m-icon.place-icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url(../../images/icon.png?1462866802203) 0 -343px no-repeat;
    margin-right: 10px
}

.tag-icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url(../../images/icon.png?1462866802203) no-repeat;
    margin-right: 5px
}

.other {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    color: #fff;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 2px
}

.woman {
    background: #e72f2f
}

.man {
    background: #398ff3
}

.sex-icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    background: url(../../images/icon.png?1462866802203) no-repeat
}

.woman-icon {
    background-position: -104px -130px
}

.man-icon {
    background-position: -140px -130px
}

.bdsharebuttonbox a {
    float: left;
    padding-left: 24px !important;
    height: 24px !important;
    margin: 0 7px 6px 0 !important
}

.bdsharebuttonbox .bds_qzone {
    background: url(../../images/share-icon.png?1462866802203) -171px 0 no-repeat !important
}

.bdsharebuttonbox .bds_tsina {
    background: url(../../images/share-icon.png?1462866802203) -1px 0 no-repeat !important
}

.bdsharebuttonbox .bds_weixin {
    background: url(../../images/share-icon.png?1462866802203) -69px 0 no-repeat !important
}

.bdsharebuttonbox .bds_douban {
    background: url(../../images/share-icon.png?1462866802203) -137px 0 no-repeat !important
}

.bdsharebuttonbox .bds_tqq {
    background: url(../../images/share-icon.png?1462866802203) -205px 0 no-repeat !important
}

.bdsharebuttonbox .bds_sqq {
    background: url(../../images/share-icon.png?1462866802203) -35px 0 no-repeat !important
}

.page {
    text-align: center
}

.page a, .page b {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    color: #333;
    padding: 0 14px;
    vertical-align: middle;
    font-weight: 100
}

.page a:hover, .page b {
    color: #fff;
    background-color: #e72f2f
}

.page .page-prve, .page .page-prve:hover {
    background: url(../../images/icon.png?1462866802203) #fff -94px -500px no-repeat
}

.page .page-next, .page .page-next:hover {
    background: url(../../images/icon.png?1462866802203) #fff -136px -500px no-repeat
}

.detalils-wrap .wrap-head {
    border-bottom: 1px #ddd solid;
    background: #fff
}

.detalils-wrap .wrap-head-fixed {
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%
}

.detalils-wrap .n-tab li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-right: 20px
}

.detalils-wrap .n-tab li a {
    display: block;
    height: 56px;
    line-height: 56px;
    border-bottom: 2px transparent solid;
    font-size: 16px;
    padding: 0 20px;
    color: #999
}

.detalils-wrap .n-tab li .current {
    border-color: #333;
    color: #333
}

.follow-icon {
    display: none
}

.user-list li:hover .follow-icon {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.user-list {
    margin-top: 18px
}

.user-list li {
    padding: 12px 2px;
    min-height: 42px
}

.user-list li:hover {
    background: #f8f8f8
}

.user-list .mini-photo {
    margin-right: 15px
}

.user-list .ll span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle
}

.user-list .ll b {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px
}

.j-alert-wrap {
    position: fixed;
    z-index: 10000;
    left: 50%;
    top: 50%;
    padding: 20px;
    border: 1px #ddd solid;
    background: #fff;
    width: 180px;
    text-align: center;
    border-radius: 10px;
    border-top: 10px #ddd solid;
    box-shadow: 0 2px 6px #ccc;
    -webkit-animation: bounceIn .8s .1s ease both;
    -moz-animation: bounceIn .8s .1s ease both
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3)
    }
    100% {
        -webkit-transform: scale(1)
    }
}

@-moz-keyframes bounceIn {
    0% {
        opacity: 0;
        -moz-transform: scale(.3)
    }
    100% {
        -moz-transform: scale(1)
    }
}

#j-alert-wrap-warning {
    border-top: 10px #fbb03b solid
}

#j-alert-wrap-success {
    border-top: 10px #3db357 solid
}

#j-alert-wrap-error {
    border-top: 10px #e72f2f solid
}

.j-alert-text {
    display: block;
    font-size: 16px
}

.j-alert-icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 62px;
    height: 62px;
    background: url(../../images/icon.png?1462866802203) no-repeat;
    margin-bottom: 20px
}

.j-alert-icon.warning {
    background-position: -124px -821px
}

.j-alert-icon.success {
    background-position: -62px -821px
}

.j-alert-icon.error {
    background-position: 0 -821px
}

#j-login-pop {
    display: none
}

.j-login-wrap {
    padding: 30px 60px
}

.j-login-wrap td {
    padding: 10px 0
}

.j-login-title {
    font-size: 24px;
    text-align: center;
    color: #666;
    margin-bottom: 10px
}

.j-login-wrap .iptText {
    height: 40px;
    line-height: 40px \9;
    padding-left: 40px;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #fff
}

.j-login-wrap .iptText.error {
    border-color: #e72f2f
}

.j-login-wrap .largeBtn {
    height: 38px;
    line-height: 38px
}

#userName {
    background-image: url(../../images/icon.png?1462866802203);
    background-position: 10px -593px;
    background-repeat: no-repeat
}

#password {
    background-image: url(../../images/icon.png?1462866802203);
    background-position: 10px -633px;
    background-repeat: no-repeat
}

.j-login-wrap .other-login {
    text-align: center;
    margin-top: 20px
}

.j-login-wrap .other-login a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 47px;
    height: 47px;
    background: url(../../images/icon.png?1462866802203) no-repeat;
    margin: 0 10px
}

.j-login-wrap .other-login .login-qq {
    background-position: -95px -694px
}

.j-login-wrap .other-login .login-sina {
    background-position: -48px -695px
}

.j-login-wrap .other-login .login-weixin {
    background-position: -1px -695px
}

.j-login-wrap .other-login .login-douban {
    background-position: -142px -695px
}

.empty-wrap {
    margin: 120px 0;
    text-align: center
}

.empty-tips, .empty-info {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle
}

.empty-info {
    text-align: left;
    font-size: 16px;
    margin-left: 20px
}

#app-download-pop {
    display: none;
    text-align: center;
    width: 580px;
    overflow: hidden
}

#app-download-pop img {
    max-width: 100%
}

.download-btn-box {
    border-radius: 4px;
    overflow: hidden;
    margin-top: -99px;
    position: relative
}

.download-btn {
    float: left;
    width: 50%;
    height: 60px;
    line-height: 60px;
    background: #009345;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #87d393;
    cursor: pointer
}

.download-btn.current {
    background: #11c258;
    color: #fff;
    cursor: auto
}

.j-data-loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999
}

.j-data-loading-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    opacity: .5;
    filter: alpha(opacity=50)
}

.j-data-loading-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../../images/loading_bg.gif) center center no-repeat
}

@media screen and (max-width: 1200px) {
    .auto-width {
        width: 990px
    }

    .items-left {
        width: 670px
    }

    .items-right {
        width: 300px
    }
}

.j-tips-wrap {
    display: none;
    position: absolute;
    z-index: 999;
    padding: 15px;
    border-radius: 4px;
    border: 1px #eee solid;
    background-color: #fff;
    box-shadow: 0 1px 4px #ccc;
    width: 300px
}

.j-tips-wrap i {
    position: absolute;
    width: 0;
    height: 0;
    border: 14px #eee solid;
    border-color: #eee transparent transparent transparent;
    left: 50%;
    margin-left: -14px;
    bottom: -28px
}

.j-tips-wrap em {
    position: absolute;
    width: 0;
    height: 0;
    border: 14px #eee solid;
    border-color: #fff transparent transparent transparent;
    left: 50%;
    margin-left: -14px;
    bottom: -27px
}

.browser-die {
    margin: 50px auto;
    width: 580px;
    background-color: #fff;
    padding: 40px;
    border: 2px #e72f2f solid
}

.browser-die li {
    float: left;
    margin: 0 10px;
    text-align: center
}

.browser-die li img {
    display: block
}

.u-list-head h2 {
    font-size: 18px;
    line-height: 44px;
    font-weight: 400
}

.u-search {
    background-color: #f0f8f8;
    padding: 8px
}

.u-search .iptText {
    height: 26px;
    line-height: 26px \9;
    margin-right: 15px;
    width: 240px
}

.u-searchBar {
    height: 27px;
    line-height: 27px;
    background-color: #37a;
    border-color: #37a;
    color: #fff;
    padding: 0 14px;
    font-size: 12px;
    border-radius: 3px
}

.cancel-ensure {
    width: 360px;
    text-align: center;
    color: #666
}

.s-chd {
    font-size: 16px;
    color: #333;
    margin-top: 20px
}

.s-cbd {
    padding: 20px
}

.s-cft {
    margin-top: 10px;
    border-top: 1px #eee solid
}

.s-cft button {
    border: 0;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 50%;
    background-color: #fff;
    vertical-align: middle;
    color: #666;
    cursor: pointer;
    font-size: 14px
}

.s-cft .s-f-remove {
    border-left: 1px #eee solid
}